{% extends 'base.html' %}

{% block app_content %}
    <h1>Log in</h1>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <p>{{ form.username.label }} <br>
            {{form.username(size=32)}}
        {% for error in form.username.errors %}
            <span> {{error}} </span>
        {% endfor %}
        </p>
        <p>{{form.password.label}} <br> {{form.password(size=32)}}
        {% for error in form.password.errors %}
            <span>{{error}}</span>
        {% endfor %}
        </p>
        <p>Forgot you password ? <a href="{{ url_for('reset_password_request') }}">Click to reset it</a></p>
        <p>{{form.remember_me.label}} <br> {{form.remember_me()}}</p>
        <p>{{form.submit()}}</p>
    </form>
{% endblock %}}